* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 375px;
  height: 812px;
}
.mainContainer {
  width: 375px;
  height: 812px;
  background-image: url("./resources/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
}
.close {
  position: absolute;
  left: 10px;
  top: 11px;
}
.close > img {
  width: 36px;
  height: 36px;
}
.heroTextContainer {
  position: absolute;
  top: 114.5px;
  left: 14.4%;
  right: 14.67%;
}
.heroTextContainer > h2 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.0680463px;
  color: #ffffff;
  text-shadow: 0px 3px 15px #1f263e;
}
.subTextContainer {
  position: absolute;
  width: 209px;
  height: 56px;
  top: 235.3px;
  left: 83px;
}
.subTextContainer > p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.192941px;
  color: #1e2333;
}

.rating > img {
  position: absolute;
  height: 19.27px;
  left: 14.48px;
  margin-top: 5px;
}
.rating > p {
  position: absolute;
  width: 45px;
  height: 18px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #f85036;
  margin-left: 130px;
  margin-top: 8px;
}

.feature1 {
  position: absolute;
  width: 283.3px;
  height: 50.7px;
  top: 343px;
  left: 11.73%;
  right: 12.72%;
}
.feature2 {
  position: absolute;
  width: 283.3px;
  height: 50.7px;
  top: 422.7px;
  left: 44px;
}
.feature3 {
  position: absolute;
  width: 283.3px;
  height: 50.7px;
  top: 502.4px;
  left: 44px;
}
.featureCheck {
  position: absolute;
  width: 23.4px;
  height: 23.4px;
  top: 11.9px;
}
.featureHeroText {
  position: absolute;
  width: 240px;
  height: 23px;
  left: 42.3px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.123529px;
  color: #1e2333;
}
.featureSubText {
  position: absolute;
  width: 161px;
  height: 24px;
  top: 26.7px;
  left: 42.3px;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.180882px;
  font-weight: 350;
  font-style: normal;
  color: #13d68f;
}
.miniText {
  position: absolute;
  top: 605px;
  width: 116px;
  height: 21px;
  left: 127px;
}
.miniText > p {
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  color: #1e2333;
}

.button {
  position: relative;
  border-radius: 45.24px;
  background-color: #13d68f;
  height: 63px;
  width: 334.6190490722656px;
  left: 20px;
  top: 634px;
  border: none;
  border-radius: 45.238094329833984px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.buttonHeroText {
  top: 9px;
  bottom: 30px;
  position: absolute;
  font-family: "Fira Sans";
  height: 24px;
  width: 320.8821105957031px;
  left: calc(50% - 320.88px / 2 + 1.36px);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.180882px;
  color: #ffffff;
}
.buttonSubText {
  position: absolute;
  width: 320.88px;
  height: 24px;
  top: 34.4px;
  left: calc(50% - 320.88px / 2 + 1.36px);
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.footer {
  position: absolute;
  width: 340px;
  height: 63px;
  left: calc(50% - 340px / 2 + 3.5px);
  bottom: 30px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: rgba(65, 65, 65, 1);
}
